/*Copyright Kevin Kowalsky and Chirs Gerenscer*/
#result{
  counter-reset: rowNumbers;
  margin-left: auto;
  margin-right: auto;
}

#result tr:not(:first-child){
  counter-increment: rowNumbers;
}

#result tr td:first-child:before{
  padding-left: 5em;
  padding-right: 5em;
  content: counter(rowNumbers);
  min-width: 1em;
  margin-right: .5em;
}

#index{
  text-align: right;
  margin-left: auto;
  margin-right: auto;
}
label{
  text-align: right;
}
td{
  margin-left: 2em;
}
form{
  text-align: center;
}
body{  
  font-family: PT Sans Pro,sans-serif 
 }
 
 h1{
  color: blue;
  font-size:200%;
  margin-top: 0px;
  text-align: center; 
 }
 
 body{
  border-color: blue;
  border-style: solid;
 }

 footer{
  border-top: solid;
  border-color: blue;
  margin-left: auto;
  margin-right: auto;
 }
 
 input{
  display: inline-block;
 }
 
 input:not(#button){
   width: 20em;
 }
 
 #button{

 }
 
@Media(max-width: 400px){

  form{
    text-align: left;   
  }
  
  #index{
    margin: 1.5em 10%;
  }
  
  #index tr{
    flex-direction: column;
  }
  
  #index td{
    width: 100%;
  }
}
    
    